.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}
.resistor-outline {
    width: 180px;
    height: 80px;
    background-color: lightgrey;
    border: solid 1px black;
    border-radius: 2px;
}
.band {
    width: 15px;
    height: 81px;
    border: solid 1px black;
    border-radius: 1px;
}

.text-center {
    text-align: center;
}